/* Footer */
footer {
    padding: 20px 0;
    background-color: #0073e6;
    color: #fff;
    text-align: center;
  }
  
  footer .footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  footer .contact-info p {
    margin: 5px 0;
  }
  
 footer .social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
  }
  